//body

body{
    font: 100% "Space Mono", monospace;
    color: $bodyColor;
    margin: 0;
    padding: 0;
    background-color: #fff;
    overflow-x: hidden;
}

main {
    @include Padding;
}

article{
    display: flex;
    flex-wrap: wrap;

    section{
        flex-grow: 1;
        flex-basis: 45%;
        border: 1px $borderColor solid;
        @include boxShadow(10px 10px 15px -4px $boxShadowColor );
        padding: $padding;
        margin: 16px;
        clear: both;
        overflow: auto;
        box-sizing: border-box;
        #selling-points{
            flex-grow: 2;
            flex-basis: 100%;
        }
    }
}

article{
    code{
        background: $backgroundBlack;
        border: 1px solid $bodyColor;
        color: $borderColor;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: 15px;
        line-height: 1.6;
        margin-bottom: 1.6em;
        max-width: 100%;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word; 
        .before{
            float: left;
            width: 40%;
        }
        .after{
            float: right;
            width: 40%;
        }
    }
}


main{
    div{
    padding: $padding;
    }
}